/*Обнуление fls*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
html {
  font-size: 100%;

  /*  Scales by 1px for every 100px from 600px onwards */
  @media (min-width: 600px) {
    font-size: calc(112.5% + 4 * (100vw - 600px) / 400);
  }

  /*  Sets font-size to 22px after a viewport of 1000px */
  @media (min-width: 1000px) {
    font-size: calc(137.5%);
  }
}

ul,
ol {
  list-style: none;
}

/* technical classes */
._main-container {
  margin: auto;
  max-width: 1200px;
  font-size: 1rem;
  position: relative;
  padding: 2rem;
  /* overflow: hidden; */
  /* font-family: "Roboto", sans-serif; */
  /* padding-top: 55px; */
}

._center {
  display: flex;
  justify-content: center;
  align-items: center;
}

._comumn {
  flex-direction: column;
}

/* main css */
.separator {
  background-color: rgb(112, 79, 189);
  height: 2px;
  width: 100%;
  margin: 50px 0px;
}

/* ========================== */
.snake-container {
  margin: 0 auto;
  width: 500px;
  height: 500px;
  border: 2px solid orangered;
  position: relative;
  box-sizing: content-box;
  overflow: hidden;
}
.snake {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: orangered;
  border: 1px solid saddlebrown;
  top: 50px;
  left: 50px;
}
/* ============= */
.stop-button {
  /* width: 30px; */
  width: fit-content;
  height: 30px;
  background-color: coral;
  border-radius: 3px;
}
/* ==================== */
.target {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: rgb(0, 162, 255);
  border: 1px solid rgb(19, 77, 139);
}
/* =================== */
.game-over {
  position: absolute;
  /* width: 20px; */
  width: fit-content;
  height: 50px;
  color: rgb(141, 191, 56);
  background-color: rgb(249, 246, 245);
  border: 1px solid saddlebrown;
  top: 40%;
  left: 45%;
}
